@import url("https:/fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

.firstlayer {
  background-color: white;
  border: none;
  width: 100px;
  height: 30px;
  position: absolute;
  top: -5px;
  left: -5px;
  color: #934713;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
}
.secondlayer {
  background-color: #934713;
  width: 100px;
  height: 30px;
}
