@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

.footer {
  margin-top: 10px;
  max-height: 50vh;
  display: flex;
  padding: 16px;
  background-color: #ffebde;
  font-family: "DM Sans", sans-serif;
  gap: 12px;
}

.companyinfo,
.joinnewsletter {
  width: 50%;
}


.companyinfo h2 {
  margin: 0 0 6px 10px;
}

.companyinfo p {
  font-size: 12px;
  line-height: 1.5;
  margin: 0 10px;
}

.companyinfo img {
  margin: 10px;
  max-width: 120px;
}


.footer hr {
  height: auto;
  width: 1px;
  background-color: #e6c1a9;
  border: none;
}


.joinnewsletter h2 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.subscribe {
  display: flex;
  gap: 8px;
  margin-top: 10px;
}


.subscribe input {
  outline: none;
  border-radius: 20px;
  font-family: "DM Sans", sans-serif;
  border: 1px solid #e6c1a9;
  width: 120px;
  padding: 6px 10px;
  font-size: 12px;
}

.subscribe button {
  border-radius: 20px;
  border: none;
  background-color: #934713;
  color: #fff;
  padding: 6px 14px;
  font-size: 12px;
  cursor: pointer;
}

.subscribe input::placeholder {
  color: #dd8b54;
  font-size: 10px;
}

.socials {
  display: flex;
  gap: 10px;
  margin-top: 24px;
}

.socials img {
  background-color: #934713;
  padding: 6px;
  border-radius: 8px;
  width: 28px;
  height: 28px;
}


@media (min-width: 768px) {
  .footer {
    margin: 20px 40px;
    border-radius: 15px; 
   max-height: 60vh;
  }

  .companyinfo p {
    font-size: 14px;
  }

  .subscribe input {
    width: 160px;
  }

  .subscribe button {
    font-size: 13px;
  }
}





@media (min-width: 1024px) {
  .companyinfo p {
    font-size: 16px;
  }

   .footer {
   max-height: 60vh;
 }
}





@media (min-width: 1440px) {
  .companyinfo p {
    font-size: 18px;
  }

  .footer {
    max-height: 50vh;
  }
}
