@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
nav {
  height: 10vh;
  border-bottom: 1px solid whitesmoke;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  align-items: center;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.navbar {
  display: flex;
  margin: auto;
  justify-content: space-between;
  padding: 15px 30px;
  align-items: center;
  height: 10vh;
  max-width: 1272px;
  border-bottom: 1px solid whitesmoke;
  font-family: "DM Sans", sans-serif;

  /* background-color: blue; */
}

.logo img {
  width: 80px;
  height: 60px;
}

/* items */
.items {
  display: none;
  /* display: flex; */
  gap: 25px;
}

.items div a {
  text-decoration: none;
  color: #000;
  font-size: 12px;
}

/* contact */
.contact a {
  text-decoration: none;
  color: #000;
}

/* contact */
.contact {
  display: none;
  background-color: #934713;
  color: white;
  border-radius: 10px;
  padding: 8px 20px;
}
.contact a {
  color: white;
}

@media screen and (min-width: 768px) {
  nav {
    height: 12vh;
  }
  .navbar {
    height: 12vh;
  }
  .items {
    display: flex;
  }
  .items div a {
    font-size: 14px;
  }
  .contact {
    display: block;
  }
  .ham {
    display: none;
  }
  .nav-link {
    position: relative;
    text-decoration: none;
    color: #333;
    padding-bottom: 6px;
    font-weight: 500;
  }

  /* Active underline */
  .nav-link.active {
    color: #934713;
  }
  .nav-link.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -24px;
    width: 100%;
    height: 10px;
    background-color: #934713;
    /* color: #934713; */
    /* same brown as your design */
    border-radius: 5px 5px 0 0;
  }
}
/* desktop */
@media (min-width: 1000px) {
  nav {
    height: 12vh;
  }
  .navbar {
    height: 12vh;
  }
  .items div a {
    font-size: 20px;
  }
  .nav-link.active::after {
    bottom: -26px;
  }
}
