@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  align-items: center;
  height: 7vh;
  width: 100%;
  border-bottom: 1px solid whitesmoke;
  font-family: "DM Sans", sans-serif;
}

.logo img {
  width: 60px;
}

/* items */
.items {
  display: flex;
  gap: 25px;
}

.items div a {
  text-decoration: none;
  color: #000;
}

/* contact */
.contact a {
  text-decoration: none;
  color: #000;
}

/* contact */
.contact {
  background-color: #934713;
  color: white;
  border-radius: 10px;
  padding: 8px 20px;
}
.contact a {
  color: white;
}
