@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

.events {
  padding: 24px 26px;
  background: #f7f7f7;
  font-family: "DM Sans", sans-serif;
}

.events h2 {
  text-align: center;
  margin-bottom: 6px;
}

.events-sub {
  text-align: center;
  font-size: 17px;
  margin-bottom: 24px;
}

.event-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.event-card {
  position: relative;
  background: #c98b6a;
  color: #000;
  padding: 30px;
  border-radius: 10px;
}

.event-card h3 {
  margin-bottom: 10px;
}

.event-card p {
  font-size: 16px;
  margin-bottom: 56px;
}
.eventButtoncomp {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

@media (min-width: 768px) {
  .event-list {
    flex-direction: row;
    padding: 0 30px;
    margin: auto;
  }
}
@media (min-width: 1024px) {
  .event-list {
    padding: 0 80px;
    gap: 24px;
  }
  .event-card {
    width: 45%;
  }
}
