@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

.events {
  padding: 50px 26px 24px;
  font-family: "DM Sans", sans-serif;
  padding-top: 50px;
}

.events h2 {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  margin-bottom: 6px;
}

.events-sub {
  text-align: center;
  font-size: 17px;
  margin-bottom: 24px;
}

.event-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.event-card {
  position: relative;
  background: #1d1836;
  color: #f7f7f7;
  padding: 30px;
  border-radius: 10px;
}

.event-card h3 {
  margin-bottom: 10px;
}

.event-card p {
  font-size: 16px;
  margin-bottom: 56px;
}
.eventButtoncomp {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

@media (min-width: 768px) {
  .event-list {
    flex-direction: row;
    padding: 0 30px;
    margin: auto;
  }
  .events h2 {
    font-size: 36px;
  }
}
@media (min-width: 1024px) {
  .event-list {
    padding: 0 80px;
    gap: 24px;
  }
  .event-card {
    width: 45%;
  }
}
