@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mogra&display=swap");

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

.welcome-container {
margin-top:12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding:60px 0px 10px;
  /* max-width: 1272px; */
  /* margin: auto; */
}
.welcome-container h3 {
  text-align: center;
  font-family: "Mogra", system-ui;
  font-size: 23px;
  font-weight: 400px;
  color: #934713;
  padding: 0 20px;
}
.welcome-container p {
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  padding: 0 20px;
  max-width: 1000px;
  color: #000;
}
.welcomebtn {
  background-color: #934713;
  color: white;
  border-radius: 3px;
  padding: 8px 20px;
  border: none;
  outline: none;
  cursor: pointer;
}
/* images */
.images {
  width: 95%;
  padding: 0;
  margin: 0;
  margin-top:30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  gap: 5px;
  overflow: hidden;
}
.images img {
  width: 100%;
  border-radius: 10px;
}

.img1,
.img3 {
  margin-top: 30px;
}
.img5,
.img6 {
  display: none;
}




/* screen */

@media screen and (min-width: 415px) {
  .images {
    gap: 10px;
  }
   .welcomebtn {
   width: 150px;
   padding: 10px 0;
   border-radius:10px;
   font-size: 18px;
 } 
}



@media screen and (min-width: 768px) {
  .welcome-container {
    padding: 60px 0px 10px;
    gap: 20px;
  }
  .welcome-container h3 {
    font-size: 29px;
    padding: 0 40px;
  }
  .welcome-container p {
    font-size: 23px;
    font-weight:400;
    padding: 0 40px;
    margin-bottom:20px;
  }
   .welcomebtn {
      font-size: 25px;
       width: 250px;
 padding: 20px 40px;
 border-radius:15px;
 gap:15px;
 margin-bottom:20px;
    }

  .images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    /* display: flex; */
    gap: 20px;
  }
  .img1,
  .img3 {
    margin-top: 40px;
  }
  .img5,
  .img6 {
    display: block;
  }
  .images img {
    border-radius: 10px;
  }
  .img1 .img2 .img3 {
    height: 100%;
  }
}

