.whatwedo {
  /* background-color: antiquewhite; */
  padding: 20px 0;
}
.whatwedo h2 {
  text-align: center;
  margin-bottom: 10px;
}
.services {
  display: grid;
  grid-template-areas:
    "a b"
    "c c";
  grid-template-columns: 1fr 1fr;
  padding: 10px 20px;
  gap: 20px;
  margin-bottom: 20px;
}
.service {
  position: relative;
  background: #f6f6f6;
  border-radius: 8px;
  height: fit-content;
  padding-bottom: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.service .title {
  font-size: 12px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
  text-align: left;
  padding-left: 10px;
}
.service .text {
  font-size: 10px;
  font-weight: 500;
  text-align: left;
  padding: 0 10px;
  height: 120px;
}
.service .img1 {
  width: 100%;
  margin: 0;
}
.service img {
  height: 100%;
  width: 100%;
  border-radius: 8px 8px 0 0;
}
.btncomp {
  display: flex;
  justify-content: right;
  align-items: center;
  margin: auto;
  margin-top: 10px;
  margin-right: 10px;
}
.one {
  grid-area: a;
}
.two {
  grid-area: b;
}
.three {
  grid-area: c;
}
/* screen */
@media screen and (min-width: 458px) {
  .service .text {
    height: 90px;
  }
}

@media screen and (min-width: 768px) {
  .service {
  }
  .service .title {
    font-size: 17px;
  }
  .service .text {
    height: 70px;
    font-size: 12px;
  }
}
