@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

.whatarewe {
  width: 100%;
  margin-top: 30px;
  padding: 0 10px;
  font-family: "DM Sans", sans-serif;
}

.whatarewe h2 {
  text-align: center;
  font-weight: 600;
  margin-bottom: 6px;
}

.whatarewe p {
  text-align: center;
  font-size: 13px;
  line-height: 1.5;
}

.support-service {
  display: flex;
  gap: 12px;
  padding: 20px;
}

.oursupport {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.oursupport p {
  text-align: left;
  font-size: 10px;
  line-height: 1.6;
}

.oursupport button {
  margin-top: 16px;
  background-color: #934713;
  align-self: flex-start;
  border: none;
  outline: none;
  color: white;
  padding: 10px 10px;
  border-radius: 10px;
}

.serviceImg {
  width: 45%;
  display: flex;
  justify-content: center;
}

.serviceImg img {
  width: 100%;
  max-width: 180px;
  height: auto;
}

@media (min-width: 480px) {
  .oursupport p {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .whatarewe h2 {
    font-size: 36px;
    margin-bottom: 12px;
  }

  .oursupport p {
    font-size: 16px;
  }

  .serviceImg img {
    max-width: 260px;
  }
}

@media (min-width: 1150px) {
  .support-service {
    padding: 40px 80px;
  }

  .oursupport p {
    font-size: 18px;
  }

  .serviceImg img {
    max-width: 300px;
  }
}
