@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

.whatwedo {
  padding: 20px 20px;
  font-family: "DM Sans", sans-serif;
}
.whatwedo h2 {
  text-align: center;
  margin-bottom: 10px;
}
.whatwedo p {
  text-align: center;
  margin-bottom: 10px;
}
.services {
  display: flex;
  flex-wrap: wrap;

  padding: 10px 20px;
  gap: 20px;
  margin-bottom: 20px;
}
.service {
  position: relative;
  background: #f6f6f6;
  border-radius: 8px;
  height: fit-content;
  padding-bottom: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.service .title {
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
  text-align: left;
  padding-left: 10px;
}
.service .text {
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  padding: 0 10px;
  height: 190px;
}
.service .img1 {
  width: 100%;
  margin: 0;
}
.service img {
  height: 100%;
  width: 100%;
  border-radius: 8px 8px 0 0;
}
.btncomp {
  display: flex;
  justify-content: right;
  align-items: center;
  margin: auto;
  margin-top: 10px;
  margin-right: 10px;
}
.one {
  grid-area: a;
}
.two {
  grid-area: b;
}
.three {
  grid-area: c;
}
/* screen */
@media screen and (min-width: 458px) {
  .service .text {
    /* height: 130px; */
  }
}

@media screen and (min-width: 768px) {
  .service .title {
    font-size: 18px;
  }
  .service .text {
    height: 150px;
    font-size: 17px;
  }
  .services {
    display: grid;
    grid-template-areas:
      "a b"
      "c c";
    grid-template-columns: 1fr 1fr;
    padding: 10px 20px;
    gap: 20px;
    margin-bottom: 20px;
  }
}
