@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

.whereweoperate {
  width: 100%;
  background-image: url("../../assets/Vector (1).png");
  background-repeat: no-repeat;

  background-size: contain;
  font-family: "DM Sans", sans-serif;
  padding: 80px 16px;


}

.whereweoperate h2 {
  margin-top: 50px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin-bottom: 6px;
}

.operationp {
  font-size: 13px;
  color: #fff;
  text-align: center;
  margin-bottom: 16px;
 
}

.operationArea {
  display: flex;
  gap: 14px;
  padding: 12px;
  margin-bottom: 24px;
  background-color: #ffebde;
   max-width:1272px;
   margin:auto;
}

.areainfo {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.areainfo p {
  font-size: 10px;
  line-height: 1.6;
}

.areainfo ul {
  font-size: 10px;
  padding-left: 18px;
  line-height: 1.5;
}

.operationbuttons {
  display: flex;
  gap: 8px;
  margin-top: 10px;
}

.getSupportBtn,
.referbtn {
  font-size: 10px;
  padding: 8px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.getSupportBtn {
  background-color: #934713;
  color: #fff;
  border: none;
}

.referbtn {
  background-color: transparent;
  color: #934713;
  border: 1px solid #934713;
}

.areaimg {
  width: 40%;
  display: flex;
  align-items: center;
}

.areaimg img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.referalText {
  color: #fff;
  font-size: 12px;
  text-align: center;
  margin-top: 24px;
}

.referalTextp {
  color: #fff;
  font-size: 12px;
  text-align: center;
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  .whereweoperate {
    padding: 140px 40px;
    background-size: cover;
  }

  .whereweoperate h2 {
    font-size: 36px;
  }

  .operationp {
    font-size: 16px;
    margin-bottom: 40px;
  }

  .areainfo p {
    font-size: 14px;
  }

  .areainfo ul {
    font-size: 13px;
  }

  .areaimg img {
    max-height: 200px;
  }

  .getSupportBtn,
  .referbtn {
    font-size: 12px;
    padding: 10px 14px;
  }

  .referalText,
  .referalTextp {
    font-size: 16px;
    margin-top:30px;
    margin-bottom:40px;
  }
}

@media (min-width: 1150px) {
  .whereweoperate {
    padding: 200px 80px;
  }

  .operationArea {
    padding: 24px;
    gap: 24px;
  }

  .areainfo p {
    font-size: 18px;
  }

  .areainfo ul {
    font-size: 16px;
  }

  .areaimg img {
    max-height: 280px;
  }

  .getSupportBtn,
  .referbtn {
    font-size: 14px;
  }

  .referalText {
    font-size: 24px;
  }

  .referalTextp {
    font-size: 20px;
  }
}
