@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
.why {
  padding: 24px 16px;
  font-family: "DM Sans", sans-serif;
  max-width: 1272px;
  margin: auto;
  padding-top: 50px;
}

.why h2 {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

.why h4 {
  text-align: center;
  font-weight: normal;
  margin-bottom: 12px;
}

.why-text {
  text-align: center;
  font-size: 14px;
  margin-bottom: 20px;
}

.accordion-item {
  margin-bottom: 5px;
  /* box-shadow: 0 8px 8px -4px rgba(0, 0, 0, 0.1); */
}

.accordion-header {
  width: 100%;
  background: #f8f8f8;
  color: black;
  padding: 14px;
  border: 1px solid #e9e7e7;
  border-radius: 0;
  text-align: left;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 500;

  /* font-style: bold; */
}

.accordion-header.active {
  background: #934713;

  color: white;
}

.accordion-body {
  margin: 2px;
  padding: 14px;
  background: #fafafa;
  box-shadow: 0 8px 8px -4px rgba(0, 0, 0, 0.1);
}

/* screen */
@media (min-width: 768px) {
  .why {
    max-width: 700px;
    margin: auto;
  }
  .why h2 {
    font-size: 36px;
  }
}
